.sidebar {
  background: #fff;
  border-right: 0.5px solid #f3f3f3;
  min-height: 100vh;
  flex: 1;
}

.sidebar .top {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sidebar .top .logo {
  font-size: 20px;
  font-weight: bold;
  color: #6439ff;
}

.sidebar hr {
  height: 0;
  border: 0.5px solid #f3f3f3;
}

.sidebar .center {
  padding-left: 10px;
}

.sidebar .center ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar .center ul .title {
  font-size: 10px;
  font-weight: bold;
  color: #999;
  margin-top: 15px;
  margin-bottom: 5px;
}

.sidebar .center ul li {
  display: flex;
  align-items: center;
  padding: 5px;
  cursor: pointer;
}

.sidebar .center ul li:hover {
  background-color: #ece8ff;
}

.sidebar .center ul li .icon {
  font-size: 18px;
  color: #7451f8;
}

.sidebar .center ul li span {
  font-size: 13px;
  font-weight: 600;
  color: #888;
  margin-left: 10px;
}

.sidebar .bottom {
  display: flex;
  align-items: center;
  margin: 10px;
}

.sidebar .bottom .color-pallet {
  width: 20px;
  height: 20px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: 1px solid #7451f8;
  cursor: pointer;
  margin: 5px;
}

.sidebar .bottom .color-pallet:nth-child(1) {
  background-color: whitesmoke;
}

.sidebar .bottom .color-pallet:nth-child(2) {
  background-color: #333;
}

.sidebar .bottom .color-pallet:nth-child(3) {
  background-color: darkblue;
}
